:root {
    --altezza-footer: 150px;
    --altezza-header: 100px;

    --larghezza-aside: 300px;

    --larghezza-card: 250px;
}

body {
    color: #a3a3a3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer {
    height: var(--altezza-footer);
    width: 100%;
    background-color: #282828;
}

.big-container {
    height: calc( 100vh - var(--altezza-footer));
    display: flex;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
}
/* debug */

.blu {
    background-color: blue;
    min-height: 50%;
    color: red;
    font-size: 2rem;
}



/* aside */
.aside-container {
    height: calc( 100vh - var(--altezza-footer));
    width: var(--larghezza-aside);
    background-color: black;
    display: flex;
    flex-direction: column;
}

#logo-spotify {
    height: var(--altezza-header);
    color: white;
}

.user{
    margin-top: auto;
}
.name-playlist {
    overflow-y: auto;
    flex-shrink: 3;
}

/* Header */
.container-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 21px;
    height: var(--altezza-header);
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
    

}



/* Main */
.container-main {
    width: calc( 100% - var(--larghezza-aside));
    height: 100%;
    background-color: #141922;
    position: relative;
    overflow: auto;
}

   /* Link Main */
.link-main li {
    display: inline-block;
}

.link-main {
    margin-top: calc( var(--altezza-header) + 20px);
    text-align: center;
}
    /* Recently */

.container-main {
    padding: 20px;
    line-height: 30px;
}


    /* ----- TITOLI SEZIONI */
.small_container-main> div:first-child {
    margin-bottom: 30px;
    font-size: 2rem;
    color: white;
}

.row-main {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}


.card {
    max-width: var(--larghezza-card);
    
}
.card_foto img {
    object-fit: contain;
    width: 100%;
    
}
.card_text {
    text-align: center;
}



/* footer */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
}


.row_footer {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;

    padding: 10px;
}

.col_footer {
    width: calc( var(--larghezza-aside) - 10px);
    display: flex;    
}

.col_footer-center {
    flex-direction: column;
    text-align: center;
    max-width: calc( 100% / 3 );
}

.playback,
.song-playing {
    display: flex; 
    justify-content: space-between;    
}



